{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Argent donné</th>
            <th scope="col">Argent dû</th>
            <th scope="col">Modifier</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set compteur = 0 %}

        {% for personne in personnes %}
            {% set compteur = compteur + 1 %}
            {% set total = total + personne.argentDepense %}
        {% endfor %}

        {% set argent_rembourse = total/compteur %}
        {% set argent_recoit = total/compteur %}

{% for personne in personnes %}
        <tr>
            <td>{{ personne.nom }}</td>
            <td>{{ personne.prenom }}</td>
            <td>{{ personne.argentDepense }} €</td>
            <td>{{ (argent_recoit - personne.argentDepense)|round(2, 'ceil') }} €</td>

            </td>
            <td>
                <a href="modifier_budget.php?id=<?php echo $ligne["id"] ?>
                <i class="material-icons">edit</i>
                <a href="actions/supprimerUnBudget.php?id=<?php echo $ligne["id"] ?>
                <i class="material-icons">delete</i>
            </td>
        </tr>
{% endfor %}

        <?php

        ?>

        </tbody>
    </table>
{% endblock %}